@import url('https://fonts.googleapis.com/css?family=Raleway:200i,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
h1,
.headline,
.big-link {
    font-size: $font-size-big;
    display: block;
    margin-bottom: 0;
    font-weight: 200;
    font-style: italic;
    font-family: $font-family-third;
    a {
        text-decoration: none;
        &:hover {
            
        }
    }
}

.blockquote {
    font-size: $font-size-big;
    font-weight: $weight-bold;
    font-family: $font-family-secondary;
    line-height: $line-height-s;
}

p {
    color: $grey;
    font-size: $font-size-base;
}

@media (max-width:1200px) {
    h1,
    .headline,
    .big-link {
        font-size: 3.7rem;
    }
}

@media (max-width:800px) {
    h1,
    .headline,
    .big-link {
        font-size: $font-size-tall;
    }
}